
<form action="/days" method="post">
 <div class="displayDays">
<label>

  <div class={{monColor}}>
  <div class="displayDays1">
  Monday : {{mondayDisp}}
</div>
 </div>
</label>

<label>
  <div class={{tueColor}}>
  <div class="displayDays2">
    Tuesday : {{tuesdayDisp}}
  </div>
  </div>
</label>

<label>
  <div class={{wedColor}}>
  <div class="displayDays3">Wednesday : {{wednesdayDisp}}
  </div>
  </div>
</label>

<label>
  <div class={{thursColor}}>
  <div class="displayDays4">Thursday : {{thursdayDisp}}
  </div>
  </div>
</label>

<label>
  <div class={{friColor}}
  <div class="displayDays5">Friday : {{fridayDisp}}
  </div>
  </div>
</label>
</div><br><br><br>

<label><input type="submit" id="resbutton" value="reset" name="resetButt"></input></label>

</form><br><br><br>

<!-- <div id="display2"></div> -->
